assets/原版/post_effect/blur.json
assets/原版/post_effect/creeper.json
assets/原版/post_effect/entity_outline.json
assets/原版/post_effect/invert.json
assets/原版/post_effect/spider.json
assets/原版/post_effect/transparency.json
assets/原版/shaders/core/animate_sprite_blit.fsh
assets/原版/shaders/core/animate_sprite_interpolate.fsh
assets/原版/shaders/core/animate_sprite.vsh
assets/原版/shaders/core/blit_screen.fsh
assets/原版/shaders/core/block.fsh
assets/原版/shaders/core/block.vsh
assets/原版/shaders/core/debug_point.vsh
assets/原版/shaders/core/entity.fsh
assets/原版/shaders/core/entity.vsh
assets/原版/shaders/core/glint.fsh
assets/原版/shaders/core/glint.vsh
assets/原版/shaders/core/gui.fsh
assets/原版/shaders/core/gui.vsh
assets/原版/shaders/core/item.fsh
assets/原版/shaders/core/item.vsh
assets/原版/shaders/core/lightmap.fsh
assets/原版/shaders/core/panorama.fsh
assets/原版/shaders/core/panorama.vsh
assets/原版/shaders/core/particle.fsh
assets/原版/shaders/core/particle.vsh
assets/原版/shaders/core/position_color.fsh
assets/原版/shaders/core/position_color.vsh
assets/原版/shaders/core/position_tex_color.fsh
assets/原版/shaders/core/position_tex_color.vsh
assets/原版/shaders/core/position_tex.fsh
assets/原版/shaders/core/position_tex.vsh
assets/原版/shaders/core/position.fsh
assets/原版/shaders/core/position.vsh
assets/原版/shaders/core/rendertype_beacon_beam.fsh
assets/原版/shaders/core/rendertype_beacon_beam.vsh
assets/原版/shaders/core/rendertype_clouds.fsh
assets/原版/shaders/core/rendertype_clouds.vsh
assets/原版/shaders/core/rendertype_crumbling.fsh
assets/原版/shaders/core/rendertype_crumbling.vsh
assets/原版/shaders/core/rendertype_end_portal.fsh
assets/原版/shaders/core/rendertype_end_portal.vsh
assets/原版/shaders/core/rendertype_entity_shadow.fsh
assets/原版/shaders/core/rendertype_entity_shadow.vsh
assets/原版/shaders/core/rendertype_leash.fsh
assets/原版/shaders/core/rendertype_leash.vsh
assets/原版/shaders/core/rendertype_lightning.fsh
assets/原版/shaders/core/rendertype_lightning.vsh
assets/原版/shaders/core/rendertype_lines.fsh
assets/原版/shaders/core/rendertype_lines.vsh
assets/原版/shaders/core/rendertype_outline.fsh
assets/原版/shaders/core/rendertype_outline.vsh
assets/原版/shaders/core/rendertype_water_mask.fsh
assets/原版/shaders/core/rendertype_water_mask.vsh
assets/原版/shaders/core/rendertype_world_border.fsh
assets/原版/shaders/core/rendertype_world_border.vsh
assets/原版/shaders/core/screenquad.vsh
assets/原版/shaders/core/sky.fsh
assets/原版/shaders/core/sky.vsh
assets/原版/shaders/core/stars.fsh
assets/原版/shaders/core/stars.vsh
assets/原版/shaders/core/terrain.fsh
assets/原版/shaders/core/terrain.vsh
assets/原版/shaders/core/text_background.fsh
assets/原版/shaders/core/text_background.vsh
assets/原版/shaders/core/text.fsh
assets/原版/shaders/core/text.vsh
assets/原版/shaders/include/animation_sprite.glsl
assets/原版/shaders/include/chunksection.glsl
assets/原版/shaders/include/dynamictransforms.glsl
assets/原版/shaders/include/fog.glsl
assets/原版/shaders/include/globals.glsl
assets/原版/shaders/include/light.glsl
assets/原版/shaders/include/matrix.glsl
assets/原版/shaders/include/projection.glsl
assets/原版/shaders/include/sample_lightmap.glsl
assets/原版/shaders/post/bits.fsh
assets/原版/shaders/post/blit.fsh
assets/原版/shaders/post/box_blur.fsh
assets/原版/shaders/post/color_convolve.fsh
assets/原版/shaders/post/entity_outline_box_blur.fsh
assets/原版/shaders/post/entity_sobel.fsh
assets/原版/shaders/post/invert.fsh
assets/原版/shaders/post/rotscale.vsh
assets/原版/shaders/post/spiderclip.fsh
assets/原版/shaders/post/transparency.fsh
.vscode/settings.json
