assets/原版/post_effect/blur.json
assets/原版/post_effect/creeper.json
assets/原版/post_effect/entity_outline.json
assets/原版/post_effect/invert.json
assets/原版/post_effect/spider.json
assets/原版/post_effect/transparency.json
assets/原版/shaders/core/animate_sprite_blit.fsh
assets/原版/shaders/core/animate_sprite_interpolate.fsh
assets/原版/shaders/core/animate_sprite.vsh
assets/原版/shaders/core/blit_screen.fsh
assets/原版/shaders/core/block.fsh
assets/原版/shaders/core/block.vsh
assets/原版/shaders/core/debug_point.vsh
assets/原版/shaders/core/entity.fsh
assets/原版/shaders/core/entity.vsh
assets/原版/shaders/core/glint.fsh
assets/原版/shaders/core/glint.vsh
assets/原版/shaders/core/gui.fsh
assets/原版/shaders/core/gui.vsh
assets/原版/shaders/core/item.fsh
assets/原版/shaders/core/item.vsh
assets/原版/shaders/core/lightmap.fsh
assets/原版/shaders/core/panorama.fsh
assets/原版/shaders/core/panorama.vsh
assets/原版/shaders/core/particle.fsh
assets/原版/shaders/core/particle.vsh
assets/原版/shaders/core/position_color.fsh
assets/原版/shaders/core/position_color.vsh
assets/原版/shaders/core/position_tex_color.fsh
assets/原版/shaders/core/position_tex_color.vsh
assets/原版/shaders/core/position_tex.fsh
assets/原版/shaders/core/position_tex.vsh
assets/原版/shaders/core/position.fsh
assets/原版/shaders/core/position.vsh
assets/原版/shaders/core/rendertype_beacon_beam.fsh
assets/原版/shaders/core/rendertype_beacon_beam.vsh
assets/原版/shaders/core/rendertype_clouds.fsh
assets/原版/shaders/core/rendertype_clouds.vsh
assets/原版/shaders/core/rendertype_crumbling.fsh
assets/原版/shaders/core/rendertype_crumbling.vsh
assets/原版/shaders/core/rendertype_end_portal.fsh
assets/原版/shaders/core/rendertype_end_portal.vsh
assets/原版/shaders/core/rendertype_entity_shadow.fsh
assets/原版/shaders/core/rendertype_entity_shadow.vsh
assets/原版/shaders/core/rendertype_leash.fsh
assets/原版/shaders/core/rendertype_leash.vsh
assets/原版/shaders/core/rendertype_lightning.fsh
assets/原版/shaders/core/rendertype_lightning.vsh
assets/原版/shaders/core/rendertype_lines.fsh
assets/原版/shaders/core/rendertype_lines.vsh
assets/原版/shaders/core/rendertype_outline.fsh
assets/原版/shaders/core/rendertype_outline.vsh
assets/原版/shaders/core/rendertype_water_mask.fsh
assets/原版/shaders/core/rendertype_water_mask.vsh
assets/原版/shaders/core/rendertype_world_border.fsh
assets/原版/shaders/core/rendertype_world_border.vsh
assets/原版/shaders/core/screenquad.vsh
assets/原版/shaders/core/sky.fsh
assets/原版/shaders/core/sky.vsh
assets/原版/shaders/core/stars.fsh
assets/原版/shaders/core/stars.vsh
assets/原版/shaders/core/terrain.fsh
assets/原版/shaders/core/terrain.vsh
assets/原版/shaders/core/text_background.fsh
assets/原版/shaders/core/text_background.vsh
assets/原版/shaders/core/text.fsh
assets/原版/shaders/core/text.vsh
assets/原版/shaders/include/animation_sprite.glsl
assets/原版/shaders/include/chunksection.glsl
assets/原版/shaders/include/dynamictransforms.glsl
assets/原版/shaders/include/fog.glsl
assets/原版/shaders/include/globals.glsl
assets/原版/shaders/include/light.glsl
assets/原版/shaders/include/matrix.glsl
assets/原版/shaders/include/projection.glsl
assets/原版/shaders/include/sample_lightmap.glsl
assets/原版/shaders/post/bits.fsh
assets/原版/shaders/post/blit.fsh
assets/原版/shaders/post/box_blur.fsh
assets/原版/shaders/post/color_convolve.fsh
assets/原版/shaders/post/entity_outline_box_blur.fsh
assets/原版/shaders/post/entity_sobel.fsh
assets/原版/shaders/post/invert.fsh
assets/原版/shaders/post/rotscale.vsh
assets/原版/shaders/post/spiderclip.fsh
assets/原版/shaders/post/transparency.fsh
.vscode/settings.json
assets/原版/shaders/core/clouds.fsh
assets/原版/shaders/core/clouds.vsh
assets/原版/shaders/core/integrate_depth.fsh
assets/原版/shaders/core/oit_composite.fsh
assets/原版/shaders/core/oit_depth_bounds_cull.fsh
assets/原版/shaders/core/world_border.fsh
assets/原版/shaders/core/world_border.vsh
assets/原版/shaders/include/oit_add_transmittance.glsl
assets/原版/shaders/include/oit_common.glsl
assets/原版/shaders/include/oit_depth_bounds.glsl
assets/原版/shaders/include/oit_depth_sample.glsl
assets/原版/shaders/include/oit_sample.glsl
assets/原版/shaders/include/oit.glsl
assets/原版/shaders/include/terrainglobals.glsl
assets/原版/shaders/include/texture_sampling.glsl
原版/post_effect/blur.json
原版/post_effect/creeper.json
原版/post_effect/entity_outline.json
原版/post_effect/invert.json
原版/post_effect/spider.json
原版/shaders/core/animate_sprite_blit.fsh
原版/shaders/core/animate_sprite_interpolate.fsh
原版/shaders/core/animate_sprite.vsh
原版/shaders/core/blit_screen.fsh
原版/shaders/core/block.fsh
原版/shaders/core/block.vsh
原版/shaders/core/clouds.fsh
原版/shaders/core/clouds.vsh
原版/shaders/core/debug_point.vsh
原版/shaders/core/entity.fsh
原版/shaders/core/entity.vsh
原版/shaders/core/glint.fsh
原版/shaders/core/glint.vsh
原版/shaders/core/gui.fsh
原版/shaders/core/gui.vsh
原版/shaders/core/integrate_depth.fsh
原版/shaders/core/item.fsh
原版/shaders/core/item.vsh
原版/shaders/core/lightmap.fsh
原版/shaders/core/oit_composite.fsh
原版/shaders/core/oit_depth_bounds_cull.fsh
原版/shaders/core/panorama.fsh
原版/shaders/core/panorama.vsh
原版/shaders/core/particle.fsh
原版/shaders/core/particle.vsh
原版/shaders/core/position_color.fsh
原版/shaders/core/position_color.vsh
原版/shaders/core/position_tex_color.fsh
原版/shaders/core/position_tex_color.vsh
原版/shaders/core/position_tex.fsh
原版/shaders/core/position_tex.vsh
原版/shaders/core/position.fsh
原版/shaders/core/position.vsh
原版/shaders/core/rendertype_beacon_beam.fsh
原版/shaders/core/rendertype_beacon_beam.vsh
原版/shaders/core/rendertype_crumbling.fsh
原版/shaders/core/rendertype_crumbling.vsh
原版/shaders/core/rendertype_end_portal.fsh
原版/shaders/core/rendertype_end_portal.vsh
原版/shaders/core/rendertype_entity_shadow.fsh
原版/shaders/core/rendertype_entity_shadow.vsh
原版/shaders/core/rendertype_leash.fsh
原版/shaders/core/rendertype_leash.vsh
原版/shaders/core/rendertype_lightning.fsh
原版/shaders/core/rendertype_lightning.vsh
原版/shaders/core/rendertype_lines.fsh
原版/shaders/core/rendertype_lines.vsh
原版/shaders/core/rendertype_outline.fsh
原版/shaders/core/rendertype_outline.vsh
原版/shaders/core/rendertype_water_mask.fsh
原版/shaders/core/rendertype_water_mask.vsh
原版/shaders/core/screenquad.vsh
原版/shaders/core/sky.fsh
原版/shaders/core/sky.vsh
原版/shaders/core/stars.fsh
原版/shaders/core/stars.vsh
原版/shaders/core/terrain.fsh
原版/shaders/core/terrain.vsh
原版/shaders/core/text.fsh
原版/shaders/core/text.vsh
原版/shaders/core/world_border.fsh
原版/shaders/core/world_border.vsh
原版/shaders/include/animation_sprite.glsl
原版/shaders/include/chunksection.glsl
原版/shaders/include/dynamictransforms.glsl
原版/shaders/include/fog.glsl
原版/shaders/include/globals.glsl
原版/shaders/include/light.glsl
原版/shaders/include/matrix.glsl
原版/shaders/include/oit_add_transmittance.glsl
原版/shaders/include/oit_common.glsl
原版/shaders/include/oit_depth_bounds.glsl
原版/shaders/include/oit_depth_sample.glsl
原版/shaders/include/oit_sample.glsl
原版/shaders/include/oit.glsl
原版/shaders/include/projection.glsl
原版/shaders/include/sample_lightmap.glsl
原版/shaders/include/terrainglobals.glsl
原版/shaders/include/texture_sampling.glsl
原版/shaders/post/bits.fsh
原版/shaders/post/blit.fsh
原版/shaders/post/box_blur.fsh
原版/shaders/post/color_convolve.fsh
原版/shaders/post/entity_outline_box_blur.fsh
原版/shaders/post/entity_sobel.fsh
原版/shaders/post/invert.fsh
原版/shaders/post/rotscale.vsh
原版/shaders/post/spiderclip.fsh
com/mojang/math/Transformation.class
net/minecraft/client/renderer/SubmitNodeCollector.class
net/minecraft/client/renderer/item/CompositeModel.class
net/minecraft/client/renderer/item/CompositeModel$Unbaked.class
net/minecraft/client/renderer/item/CuboidItemModelWrapper.class
net/minecraft/client/renderer/item/CuboidItemModelWrapper$Unbaked.class
net/minecraft/client/renderer/item/ItemModel.class
net/minecraft/client/renderer/item/ItemModel$BakingContext.class
net/minecraft/client/renderer/item/ItemStackRenderState$LayerRenderState.class
net/minecraft/client/renderer/item/ModelRenderProperties.class
net/minecraft/client/resources/model/cuboid/ItemTransform.class
net/minecraft/client/resources/model/cuboid/ItemTransform$Deserializer.class
net/minecraft/client/resources/model/geometry/BakedQuad.class
net/minecraft/client/resources/model/geometry/ItemQuads.class
assets/minecraft/textures/effect/__pycache__/gen.cpython-311.pyc
